.navbar {
  display: flex;
  flex-direction: column;
  background-color: #c0c1c1;
  padding: 50px;

  h1 {
    font-size: 48px;
    margin: 0;
    margin-left: 50px;
  }
  h2 {
    margin: 0;
    font-size: 36px;
    margin-left: 50px;
  }
}

.post-container {
  display: flex;
  // justify-content: ;
  margin: 0 3%;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 13px;

  &:hover {
    background-color: #fafafa;
  }

  .post-box {
    display: flex;
    width: 60%;
    padding: 12px;

    a {
      display: flex;
      text-decoration: none;

      h3 {
        margin: 0;
        color: #333;
      }
      span {
        margin-left: 30px;
        color: #999;
      }
    }
  }
  .post-time {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;

    .delete-button {
      margin-left: 12px;
      background-color: none;
    }
  }
}

.load-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
